@page
@{
    ViewData["Title"] = "Confirmar registo";
}

<h1>@ViewData["Title"]</h1>


<h4>
    Obrigado por se registar.<br />
    Assim que um Gestor confirmar a sua conta, poderá aceder ao nosso sistema.
</h4>
