<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamePlace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @* <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css?parameter=1" rel="stylesheet">*@
</head>
<body  background-color="#dddddd">
    @*background="../fotos/imgBack.png"*@
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-area="" asp-controller="Jogos" asp-action="Index">
                <img src="~/fotos/logoPeq.png" width="110" height="50" />
            </a>
            <div class="container" width="-1800px">
                
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <form asp-controller="Jogos" asp-action="Index" style="margin-left: 25%; border-radius: 25px; width: 500px">
                                <div asp-validation-summary="ModelOnly" style="margin: auto; border-radius: 25px;" class="text-danger"></div>
                                <input type="text" style="border-radius: 25px; width: 450px" placeholder="Search.." name="SearchString">
                                <button type="submit" style="border-radius: 25px"><i class="fa fa-search"></i></button>
                            </form>
                                <ul class="navbar-nav flex-grow-1">
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
</div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:white" class="border-top footer text-muted">
        <div style="text-align:center" class="container">
            &copy; 2021 - GamePlace <a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
