@model IEnumerable<GamePlace.Models.Jogos>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p>
    @if (User.IsInRole("Admin"))
    {<a id="CriarJogo" asp-action="Create"> Create New </a>}
</p>
@foreach (var item in Model)
{
<div class="thumbnail-wrapper">
    <a asp-action="Details" asp-route-id="@item.IdJogo">

        <img style=" height: 200px; width: 150px; object-fit:fill;" src="~/fotos/@item.FotoCapa"
             alt="Fotografia do jogo @item.Nome"
             title="@item.Nome"
             height="50" />

    </a>
</div>
}





